**Â© 2023 Scott A. Bruce. Do not distribute.**

# 1. SQL Alchemy to load data into Python

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
%matplotlib inline

In [ ]:
cnxn_string = ("postgresql+psycopg2://{username}:{pswd}"
              "@{host}:{port}/{database}")
print(cnxn_string)

In [ ]:
engine = create_engine(cnxn_string.format(
    username="postgres",
    pswd="behappy",
    host="postgres",
    port=5432,
    database="sqlda"))
engine.execute("SELECT * FROM customers LIMIT 2;").fetchall()

In [ ]:
customers_data = pd.read_sql_table('customers',engine)

In [ ]:
query = """select city, count(*) as number_of_customers,
           count(nullif(gender,'M')) as female,
           count(nullif(gender,'F')) as male
           from customers
           where city is not null
           group by city
           order by number_of_customers desc
           limit 10"""

In [ ]:
top_cities_data = pd.read_sql_query(query,engine)

In [ ]:
top_cities_data

In [ ]:
ax = top_cities_data.plot.bar('city',y=['female','male'],
                              title='Number of Customers by Gender and City')

# 2. Writing data to database using Python

In [ ]:
top_cities_data.to_sql('top_cities_data',engine,
                       index=False,if_exists='replace')

In [ ]:
#get help using the help function
help('pandas.DataFrame.to_sql')

In [ ]:
#but what if you can't remember the name of the function?

#using tab and shift+tab for help in Jupyter notebooks
pd.pandas.DataFrame.
#now press tab, which will bring up all possible functions, so you can find the one you are looking for
pd.pandas.DataFrame.to_sql
#now press shift+tab, which will bring up the help file and input arguments (in case you forget them)

# 3. Reading and writing CSV files with Python

In [ ]:
top_cities_data.to_csv('top_cities_analysis.csv',index=False)
my_data=pd.read_csv('top_cities_analysis.csv')
my_data

In [ ]:
help('pandas.read_csv')

# 4. Python basics (following Ch 1 of Python Workshop textbook)

## 4.1 Basic math operations

In [ ]:
#run these basic examples on your machine
5+2
5-2
5*2
5/2
5//2 #integer division
5**2 #5 squared
5%2 #modulus

In [ ]:
#remember your order of operations (when in doubt, use parentheses)
(100 - 5 ** 3) / 5
6 + 15 % 4 
2 ** 2 + 24 // 4

In [ ]:
#spacing can improve readability (but doesn't change the meaning)
6+5
6 + 5

## 4.2 Integer vs. float

In [ ]:
type(6)
type(6.0)

In [ ]:
#what happens when you add an int and float?
5 + 3.14
type(5 + 3.14)

In [ ]:
#convert to different types
int(7.99999999)
float(6)

## 4.3 Complex numbers

In [ ]:
#Python uses j instead of i to represent sqrt(-1)
(2 + 3j)/(1 - 5j)

## 4.4 Variables

In [ ]:
x = 2
x + 1

In [ ]:
x = 3.0
x + 1

In [ ]:
#python is dynamically typed (vs. unchanging types)
y = 10
y = y - 10.0
type(y)

### 4.4.1 Reassigning variables in terms of themselves

In [ ]:
x = 3
x = x + 1
x

x = 3
x += 1
x

x = 3
x -= 1
x

x = 3
x *= 5
x

In [ ]:
# variables can not start with numbers, special characters, keywords, nor built-in types
$&^city = 5

In [ ]:
# variables cannot contain spaces between characters
best city = 'College Station'

In [ ]:
# keywords to avoid when naming variables (Python will throw an error)
import keyword
print(keyword.kwlist)

In [ ]:
# underscores are helpful
best_city = 'College Station'
best_city

### 4.4.2 Declaring multiple variables (the Pythonic way)

In [ ]:
x, y, z = 8, 5, 'cat'
x
y
z

## 4.5 Docstrings vs. comments

In [ ]:
# this is a comment
"""
Docstrings are like comments in that nothing happens when
you execute this cell.  However, they are typically used 
when developers want to provide a description on what
a particular 'document' (e.g. program, function, class, etc.)
actually does.  These descriptions typically span
multiple lines vs. comments which typically span one line.
"""

## 4.6 Strings

In [ ]:
bookstore = 'City Lights'
bookstore
bookstore = "City Lights"
bookstore

In [ ]:
#be consistent!
bookstore = 'City Lights"

In [ ]:
#strings with apostrophes
bookstore = 'Moe's'

In [ ]:
bookstore = "Moe's"
bookstore

In [ ]:
bookstore = 'Moe\'s'
bookstore

### 4.6.1 Multi line strings

In [ ]:
vacation_note = """
During our vacation to San Francisco, we
waiting in a long line by Powell St. Station
to take the cable car.

Tap dancers performed on wooden boards.

We started to look for a good place to eat
when the cable car arrived.
"""
vacation_note
#notice the escape sequences denoting the line breaks (\n)

print(vacation_note)

### 4.6.2 String concatenation

In [ ]:
greeting = 'Howdy'
print(greeting + 'Sir.')
greeting = 'Howdy '
print(greeting + 'Sir.')
print(greeting * 5)

### 4.6.3 String interpolation

In [ ]:
greeting = 'Howdy'
print('Should we greet people with', greeting, 'in College Station?')

In [ ]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(owner,age))

### 4.6.4 Built-in string functions

In [ ]:
len(greeting)

In [ ]:
#use tab completion to find variables
#type len(g then hit the tab button
#type greeting. then hit the tab button

In [ ]:
greeting.lower()
greeting.upper()
greeting.endswith('y')
greeting.count('w')

### 4.6.5 Casting

In [ ]:
type('5')
'5' + '7'
int('5') + int('7')

### 4.6.6 Inputs from user

In [ ]:
print('What is your name?')
name = input()
print('Hello, ' + name + '.')
#If an error arises, restart the kernel

### 4.6.7 String slicing and indexing

In [ ]:
#Python starts at 0 when indexing
destination = 'College Station'
destination[0]
destination[1]
destination[-1]
destination[7]

In [ ]:
#Slicing
destination[0:7]
#Caution: lower bound of slice is always included, but upper bound is not!

In [ ]:
#shortcut: omit the first numerical character to start at the beginning
destination[:10]
#shortcut: omit the last numerical character to go to the end and use a negative to specify how many before
destination[-3:]

## 4.7 Booleans and conditionals

In [ ]:
over_18 = True
type(over_18)

In [ ]:
over_21 = False
over_21

### 4.7.1 Logical operators

In [ ]:
over_18 and over_21
over_18 or over_21
not over_18
not over_21 or (over_21 or over_18) #combine logical operators
not (over_21 or (over_21 or over_18)) #parentheses matter

### 4.7.2 Comparison Operators

In [ ]:
age = 20
age < 13
age >= 4
age == 20
age != 20
age >= 20 and age <= 21 #combine with logical operators

In [ ]:
#equivalence can take place across different data types
6 == 6.0 

#but not always
6 == '6'

#pro tip: cast objects to be the same type before checking equivalence

In [ ]:
age=20

#use parentheses for clarity
(20 <= age < 30) or (30 <= age < 40)

### 4.7.3 Comparing strings

In [ ]:
#alphabetical order is used to compare strings
'a' < 'c'
'Austin' > 'College Station'

### 4.7.4 Conditionals (if)

In [ ]:
age=20
if age < 18:
    print('You aren\'t old enough to vote.')

"""
important features of the if statement:
1) if keyword (start here)
2) everything between the if keyword and the colon (:) is the condition to be checked
3) colon(:) indicates the completion of the condition (compiler 
   then looks back to see if condition is true or false)
4) everything that follows the colon MUST be indented
"""

In [ ]:
#indentation matters (generally can be accomplished with 4 spaces or the tab key)
age=20
if age < 18:
print('You aren\'t old enough to vote.')

In [ ]:
#indentation matters (generally can be accomplished with 4 spaces or the tab key)
age=20
if age < 18:
    print('You aren\'t old enough to vote.')

In [ ]:
#Nested conditionals with more indentation
age=20
if age >=18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker.')

### 4.7.5 Conditionals (if-else)

In [ ]:
age=20
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

### 4.7.6 Conditionals (elif)

In [ ]:
#sort for else if
age=20
if age <= 10:
    print('Listen, learn, and have fun.')
elif age <= 19:
    print('Go fearlessly forward.')
else:
    print('Each day is magical.')

## 4.8 Loops

### 4.8.1 While loops

In [ ]:
# while loop example
i = 1 # initialize the variable
while i <= 10: #set up the condition that must be met for the loop to run
    print(i) #specify what should be done if the condition is met
    i += 1 #increment the variable
    
# Note: you will get stuck in infinite loops.  It happens to everyone.  When this happens,
# just restart the kernel.

### 4.8.2 Breaks

In [ ]:
x=100
while x <= 1000:
    x += 1
    if x % 17 == 0:
        print('', x, 'is the first number greater than 100 that is divisible by 17.')
        break

### 4.8.3 Exercise 19: The Real Estate Offer

In [ ]:
print('A one bedroom in the Bay Area is listed at $599,000.')
print('Enter your first offer on the house.')
offer = abs(int(input()))
print('Enter your best offer on the house.')
best = abs(int(input()))
print('How much more do you want to offer each time?')
increment = abs(int(input()))

offer_accepted = False
while offer <= best:
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    else:
        print('We\'re sorry, you\'re offer of',offer,'has not been accepted.')
        offer += increment

### 4.8.4 For loops

In [ ]:
for i in 'Bryan':
    print(i)

In [ ]:
for i in range(1,10):
    print(i)
#notice the range doesn't include 10

In [ ]:
for i in range(10):
    print(i)
#providing only 1 argument to range uses 0 to start and gives the first 10 numbers

In [ ]:
for i in range(1,11,2):
    print(i)
#the third argument is the increment

In [ ]:
for i in range(3,0,-1):
    print(i)
#increments can be negative

### The continue keyword

In [ ]:
#used to interrupt the instructions provided in the loop and return to the beginning of the loop
for num in range(10,100):
    if num % 2 == 0:
        continue
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        continue
    if num % 7 == 0:
        continue
    print(num)
    #what is the output from this loop?